$font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$title-font: "Moderne Sans", Verdana, Tahoma, sans-serif;

:root {
    color-scheme: light dark;

    --color-text: black;
    --color-bg: white;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-accent: #8cc595;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --color-accent: #436549;
    }
}

@font-face {
    font-family: "Moderne Sans";
    src: url("../fonts/Moderne Sans Font.ttf");
    font-display: swap;
  }