@use 'theme';

html {
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color);
}

main {
    justify-content: center;
    display: flex;
    color: black;
    gap: 20px;
}

::selection {
    color: white;
    background: #0000007a;
}

#title {
    font-family: theme.$font;
    font-size: 60px;
    text-align: center;
}

.elevation {
    border: 4px solid black;
    box-shadow: -8px 8px black;
    margin: 0 0 8px 8px;
}