---
title: The Oregon Trail
description: A TUI game heavily based on MECC's 1990 The Oregon Trail
image: '/images/tot/tot.ico'
---
<!DOCTYPE html>
<html lang="en-US">

<head>
    {% include 'head' %}
    <link rel="stylesheet" href="/css/tui.css">
</head>

<body>
    <main>
        {% include 'project-header' %}
        <p><a href="https://github.com/ASoftGlow/TheOregonTrail">Link to Github repo</a></p>

        <h2 id="samples">Samples</h2>
        <figure>
            <pre class="tui"><span class="Y">╔══════════ </span>The Oregon Trail</span><span class="Y"> ══════════╗
║</span>                                      </span><span class="Y">║
║</span>    You may:                          </span><span class="Y">║
║</span>                                      </span><span class="Y">║
║</span>    1. </span><span class="C">Start traveling trail</span>          </span><span class="Y">║
║</span>    2. Continue traveling trail       </span><span class="Y">║
║</span>    3. Learn about the trail          </span><span class="Y">║
║</span>    4. Change settings                </span><span class="Y">║
║</span>    5. Exit                           </span><span class="Y">║
║</span>                                      </span><span class="Y">║
║</span>    What is your choice? <span class="cursor">_</span>            </span><span class="Y">║
║</span>                                      </span><span class="Y">║
╚══════════════════════════════════════╝</span></pre>
            <figcaption>The main screen</figcaption>
        </figure>
        <details>
            <summary>More</summary>
            <figure>
                <pre class="tui"><span class="Y">╔══════════════════════════════════════╗
║</span>                                      </span><span class="Y">║
║</span>    It is 1848. Your jumping off      </span><span class="Y">║
║</span>    place for Oregon is               </span><span class="Y">║
║</span>    Independence, Missouri. You       </span><span class="Y">║
║</span>    must decide which month to        </span><span class="Y">║
║</span>    leave Independence.               </span><span class="Y">║
║</span>                                      </span><span class="Y">║
║</span>    1. March                          </span><span class="Y">║
║</span>    2. April                          </span><span class="Y">║
║</span>    </span><span class="E bW">3. May</span>                            </span><span class="Y">║
║</span>    4. June                           </span><span class="Y">║
║</span>    5. July                           </span><span class="Y">║
║</span>    6. Ask for advice                 </span><span class="Y">║
║</span>                                      </span><span class="Y">║
║</span>    What is your choice?              </span><span class="Y">║
║</span>                                      </span><span class="Y">║
╚══════════════════════════════════════╝</span></pre>
                <figcaption>Choosing a month to leave (selecting May)</figcaption>
            </figure>
            <figure>
                <pre class="tui"><span class="C">╔════════ </span>Matt's General Store</span><span class="C"> ════════╗
║</span>        Independence, Missouri        </span><span class="C">║
║</span>                                      </span><span class="C">║
║</span>                     March 1, 1868    </span><span class="C">║
║</span>    </span><span class="C">------------------------------    ║
║</span>    1. Oxen                  $0.00    </span><span class="C">║
║</span>    2. Food                  $0.00    </span><span class="C">║
║</span>    3. Clothing              $0.00    </span><span class="C">║
║</span>    4. Ammunition            $0.00    </span><span class="C">║
║</span>    5. Spare parts           $0.00    </span><span class="C">║
║</span>    </span><span class="C">------------------------------    ║
║</span>                 Total bill: $0.00    </span><span class="C">║
║</span>                                      </span><span class="C">║
║</span>         Amount you have: $1600.00    </span><span class="C">║
║</span>                                      </span><span class="C">║
║</span>        Which item would you like     </span><span class="C">║
║</span>        to buy? <span class="cursor">_</span>                     </span><span class="C">║
║</span>                                      </span><span class="C">║
║</span>    Press SPACE BAR to leave store    </span><span class="C">║
╚══════════════════════════════════════╝</span></pre>
                <figcaption>Matt's general store</figcaption>
            </figure>
            <figure>
                <pre class="tui"> Bet: $10.50                            
                                        
   </span><span class="R bR">::</span> </span><span class="R bW"> 8</span>                                
   </span><span class="R bR">::</span> </span><span class="R bW">♠ </span>                                
                                        
   </span><span class="R bW"> 6</span> </span><span class="E bW"> 3</span>                                
   </span><span class="R bW">♠ </span> </span><span class="E bW">♣ </span>                                
                                        
 H - Hit                                
 S - Stand                              
 D - Double down                        
 </span><span class="E">P - Split</span>                              
 Q - Quit</span></pre>
                <figcaption>A game of blackjack</figcaption>
            </figure>
        </details>
        <h2>Features</h2>
        <ul>
            <li>Written in C</li>
            <li>Save and load progress</li>
            <li>Settings menu</li>
            <li>Colorful</li>
            <li>Mini-games
                <ul>
                    <li>Blackjack</li>
                </ul>
            </li>
            <li>Cross platform</li>
        </ul>
        <p>
            I quite adore the simplicity of oldy video games such as MECC's 1998 The Oregon Trail.
            That's why I attempted my own version. At the time of writing, it is not even close to completion, but I didn't that to happen.
        </p>
        <p>
            Implementing baseline, framework-related features such as TUI borders and selection was quite enjoyable.
            This was my first large C-based project, so, on a recommendation,
            I used <a href="https://cmake.org">CMake</a>, a popular build system for C/C++.
        </p>
        <p>
            I wanted to stay away from cross platform input libraries such as <a href="https://www.gnu.org/software/ncurses/">ncurses</a>, mostly for educational purposes.
            However, this meant I had to research and account for the various querks of Windows and Unix (via <a
                href="https://pubs.opengroup.org/onlinepubs/9699919799/basedefs/termios.h.html">termios</a>);
            I would not recommend doing so yourself.
        </p>
        <br>
        <p>
            For the screen figures shown in <a href="#samples">Samples</a>, I wrote a seperate program to capture console
            output and convert it to HTML. Given a <abbr title="process identification">PID</abbr>, it uses the Win32 API to attach
            to the console and gather screen buffer text and styles, and cursor position <i>(however, I could not get <a
                href="https://learn.microsoft.com/en-us/windows/console/getconsolecursorinfo">GetConsoleCursorInfo</a>
            to cooperate; it always returned an access denied error. If anyone suspects the reason, I am most curious to know)</i>.
        </p>
    </main>
    {% include 'footer' %}
</body>

</html>