:root {
    color-scheme: light dark;

    --color-text: black;
    --color-bg: white;
    --font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --font-title: "Moderne Sans", Verdana, Tahoma, sans-serif;
}

@media not print and (prefers-color-scheme: light) {
    :root {
        --color-accent: #93bd9a;
    }
}

@media not print and (prefers-color-scheme: dark) {
    :root {
        --color-accent: #486f4f;
    }
}

@font-face {
    font-family: "Moderne Sans";
    src: local("Moderne Sans"), url("/fonts/Moderne Sans Font.ttf") format("truetype");
    font-display: swap;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 20px;
}

img.icon {
    image-rendering: pixelated;
}

html {
    height: 100%;
    scrollbar-color: var(--color-bg) var(--color-text);
}

html,
div {
    scrollbar-width: thin;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-accent);
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
}

footer {
    margin-top: 50px;
    padding: 10px 30px 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px 30px;
    flex-wrap: wrap;

    background-image: repeating-radial-gradient(var(--color-text), var(--color-text) 1px, transparent 1px, transparent);
    background-repeat: repeat;
    background-position: center;
    background-size: 20px 20px;

    * {
        background-color: var(--color-accent);
        outline: 4px solid var(--color-accent);
    }

    a {
        text-decoration: none;
    }
}

h1,
h2,
h3,
h3,
h5,
h6 {
    font-family: var(--font-title);
    word-spacing: -0.5ch;
}

::selection {
    color: var(--color-bg);
    background: var(--color-text);
}

ul li {
    list-style-type: square;
}

a {
    color: var(--color-text);
    user-select: all;
}

hr {
    border: none;
    border-top: 1px solid var(--color-text);
}

.elevation {
    border: 4px solid var(--color-text);
    box-shadow: -8px 8px var(--color-text);
    margin: 0 0 8px 8px;
    background-color: var(--color-bg);
}

.elv-wrapper {
    position: relative;
    padding-top: 20px;
    margin-top: 30px;
}

.elv-title {
    position: absolute;
    width: fit-content;
    margin: auto;
    top: 0;
    left: 40px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 200;
}

.elv-content {
    padding-top: 35px;
}

.divider {
    width: 99%;
    height: 60px;
}

.dotted {
    background-image: repeating-radial-gradient(var(--color-text), var(--color-text) 1px, transparent 1px, transparent);
    background-repeat: repeat;
    background-position: center;
    background-size: 20px 20px;
}

.striped {
    background-image: repeating-linear-gradient(45deg, var(--color-text), var(--color-text) 2px, transparent 2px, transparent 20px);
}

input[type="color"] {
    outline: none;
    border: none;
    padding: 0;
    width: 30px;
    height: 20px;

    &::-webkit-color-swatch-wrapper {
        padding: 0;
    }

    &::-moz-color-swatch,
    &::-webkit-color-swatch {
        outline: 1px solid white;
        outline-offset: -2px;
        border: 3px double var(--color-text);
    }
}

#home-link {
    position: fixed;
    left: 20px;
    top: 20px;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    margin: -10px;
    width: fit-content;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    @media screen and (max-width: 575px) {
        position: absolute;
    }

    @media screen and (max-width: 500px) {
        position: unset;
        margin-bottom: -10px;
    }
}

.product-link {
    border: 1px solid var(--color-text);
    padding: 0.5em;
    display: inline-block;
}

li:has(>details) {
    list-style: none;
    margin-left: -15px;
}

abbr {
    cursor: help;
}

.subtitle {
    font-family: initial;
    word-spacing: initial;
    font-weight: normal;
}

address {
    font-style: normal;
}