.tasklist {
    * {
        list-style: none;
    }

    &,
    ul,
    li {
        line-height: 1.5em;
    }

    input[type="checkbox"] {
        margin: 0 0.5em 0.25em -1.4em;
        vertical-align: middle;
    }
}

th,
td {
    padding: 0 1em;
}

.hex {
    margin-top: 8px;
    display: flex;
    font-family: monospace;
    font-size: 14px;
}

.hex-offset {
    position: absolute;
    left: -3em;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    user-select: none;

    @media screen and (max-width: 500px) {
        display: none;
    }
}

.hex-bytes {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(16, calc(2ch + 0.25lh + 2px));

    div {
        border-radius: 0.5lh;
        outline: 1px solid black;
        outline-offset: -1px;
        display: flex;
        justify-content: space-between;
	      padding: 0 0.25lh;
        margin-left: -0.25lh;
        margin-right: 2px;
    }
}

.id {
    background-color: rgba(204, 255, 0, 0.4);
}

.name {
    background-color: rgba(255, 255, 255, 0.4);
}

.created-time {
    background-color: rgba(0, 191, 255, 0.4);
}

.saved-time {
    background-color: rgba(255, 88, 11, 0.4);
}

.chunk-size {
    background-color: rgba(255, 106, 0, 0.646);
}

.key {
    display: inline-block;
    margin-right: 0.5em;
    height: 1em;
    width: 1em;
    border-radius: 0.5em;
    vertical-align: text-bottom;
    outline: 1px solid black;
}

div:has(>.key) {
    display: inline-block;
    white-space: nowrap;
}

.keys {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em 1em;
    margin-top: 16px;
}

figure>img {
    max-width: min(70vw, calc(300px));
    max-height: 100%;
}

.carousel {
    overflow-x: scroll;
    display: flex;
    scroll-snap-type: x mandatory;

    figure {
        scroll-snap-align: center;
        scroll-snap-stop: always;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:first-child {
            margin-left: 0;
            padding-left: 40px;
        }

        &:last-child {
            margin-right: 0;
            padding-right: 40px;
        }
    }

    figcaption {
        padding-right: 10px;
        padding-top: 0.25em;
        text-align: right;
        border-top: 2px dotted;
    }
}
