@font-face {
    font-family: "DOS VGA 437";
    src: url("../fonts/DOS VGA 437") format("truetype");
    font-display: swap;
}

pre.tui {
    --tui-red: red;
    --tui-yellow: rgb(251, 193, 56);
    --tui-green: green;
    --tui-blue: rgb(63, 63, 255);
    --tui-cyan: cyan;
    --tui-magenta: magenta;
    --tui-black: black;
    --tui-white: white;
    --tui-gray: gray;

    --tui-bg: var(--tui-black);
    --tui-txt: var(--tui-white);

    color: var(--tui-txt);
    background-color: var(--tui-bg);
    width: fit-content;
    font-family: "DOS VGA 437", monospace;
    line-height: 100%;
    font-size: 0.7rem;

    &::selection,
    ::selection {
        color: var(--tui-bg);
        background: var(--tui-txt);
    }

    .R {
        color: var(--tui-red);
    }

    .bR {
        background-color: var(--tui-red);
    }

    .G {
        color: var(--tui-green);
    }

    .bG {
        background-color: var(--tui-green);
    }

    .Y {
        color: var(--tui-yellow);
    }

    .bY {
        background-color: var(--tui-yellow);
    }

    .B {
        color: var(--tui-blue);
    }

    .bB {
        background-color: var(--tui-blue);
    }

    .M {
        color: var(--tui-magenta);
    }

    .bM {
        background-color: var(--tui-magenta);
    }

    .C {
        color: var(--tui-cyan);
    }

    .bC {
        background-color: var(--tui-cyan);
    }

    .E {
        color: var(--tui-black);
    }

    .bW {
        background-color: var(--tui-white);
    }

    .GR {
        color: var(--tui-gray);
    }

    .cursor {
        @media not (prefers-reduced-motion) {
            animation: cursor_blink 1.5s step-start infinite;
        }
    }
}

@media screen and (min-width: 375px) {
    pre.tui {
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 450px) {
    pre.tui {
        font-size: 1rem;
    }
}

@keyframes cursor_blink {
    50% {
        opacity: 0;
    }
}